@page "/addAdult"
@attribute [Authorize(Policy = "MustBeLoggedIn")]

@using FamiliesManager.Data
@using FamiliesManager.Models
@using FamiliesManager.Componets

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>Add new adult</h3>
<hr/>

<AdultForm Adult="@newAdult" SubmitHandler="AddNewAdult"/>

@code {

    private Adult newAdult = new()
    {
        Sex = "M",
        EyeColor = "Brown",
        HairColor = "Brown"
    };

    protected override void OnInitialized()
    {
        newAdult.JobTitle = new Job();
    }

    private async Task AddNewAdult()
    {
        try
        {
            await AdultService.CreateAsync(newAdult);
            NavigationManager.NavigateTo("/adults");
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }

}