@page "/addAdult"

@using FamiliesManager.Data
@using FamiliesManager.Models
@using FamiliesManager.Componets

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>Add new adult</h3>
<hr/>

<AdultForm Adult="@newAdult" SubmitHandler="AddNewAdult"/>

@code {

    private Adult newAdult = new()
    {
        Sex = "M",
        EyeColor = "Brown",
        HairColor = "Brown"
    };

    private Job Job = new();

    protected override async Task OnInitializedAsync()
    {
        newAdult.JobTitle = Job;
    }

    private void AddNewAdult()
    {
        AdultService.Create(newAdult);
        NavigationManager.NavigateTo("/adults");
    }

}