@page "/Charts"
@attribute [Authorize(Policy = "MustBeManagerOrAdmin")]

@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Util
@using FamiliesManager.Models
@using FamiliesManager.Data

@inject IAdultService AdultService

<h3>Charts</h3>
<hr/>

@if (_pieGenderConfig == null || _pieEyeColorConfig == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="col-6">
            <div>
                <Chart Config="_pieGenderConfig"/>
            </div>
        </div>
        <div class="col-6">
            <div>
                <Chart Config="_pieEyeColorConfig"/>
            </div>
        </div>
    </div>
    
    @if (_errorMessage != "")
    {
        <div class="alert alert-primary" role="alert">
            @_errorMessage
        </div>
    }
}


@code {
    private string _errorMessage;
    
    private PieConfig _pieGenderConfig;
    private PieConfig _pieEyeColorConfig;

    private IList<Adult> _allAdults;

    private int NumberOfFemale => _allAdults.Count(adult => adult.Sex.Equals("F"));
    private int NumberOfMale => _allAdults.Count - NumberOfFemale;

    private int[] EyeColorNumbers
    {
        get
        {
            return new[]
            {
                _allAdults.Count(adult => adult.EyeColor.Equals("Amber")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Blue")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Brown")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Gray")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Green")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Hazel")),
                _allAdults.Count(adult => adult.EyeColor.Equals("Red")),
            };
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _allAdults = await AdultService.ReadAllAsync();
            ConfigureGenderPieConfig();
            ConfigureEyeColorPieConfig();
            _errorMessage = "";
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

    private void ConfigureGenderPieConfig()
    {
        _pieGenderConfig = new PieConfig
        {
            Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Gender PieChart"
                }
            }
        };
        _pieGenderConfig.Data.Labels.Add("Male");
        _pieGenderConfig.Data.Labels.Add("Female");

        PieDataset<int> dataset = new(new[] {NumberOfMale, NumberOfFemale})
        {
            BackgroundColor = new[]
            {
                ColorUtil.ColorHexString(82, 168, 212),
                ColorUtil.ColorHexString(169, 63, 117)
            }
        };
        _pieGenderConfig.Data.Datasets.Add(dataset);
    }

    private void ConfigureEyeColorPieConfig()
    {
        _pieEyeColorConfig = new PieConfig
        {
            Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Eye Color PieChart"
                }
            }
        };
        foreach (var color in new[] {"Amber", "Blue", "Brown", "Gray", "Green", "Hazel", "Red"})
        {
            _pieEyeColorConfig.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new(EyeColorNumbers)
        {
            BackgroundColor = new[]
            {
                ColorUtil.ColorHexString(100, 75, 0),
                ColorUtil.ColorHexString(37, 150, 190),
                ColorUtil.ColorHexString(132, 59, 11),
                ColorUtil.ColorHexString(118, 142, 152),
                ColorUtil.ColorHexString(100, 189, 109),
                ColorUtil.ColorHexString(65, 77, 73),
                ColorUtil.ColorHexString(221, 17, 85)
            }
        };
        _pieEyeColorConfig.Data.Datasets.Add(dataset);
    }
}