@page "/edit/{Id:int}"

@using FamiliesManager.Data
@using FamiliesManager.Models
@using FamiliesManager.Componets

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

@if (_adultToEdit == null)
{
    <em>Adult not found!</em>
}
else
{
    <h3>Editing infomration about @_adultToEdit.FirstName @_adultToEdit.LastName</h3>
    <hr/>

    <AdultForm Adult="@_adultToEdit" 
               SubmitHandler="@SaveChanges"/>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Adult _adultToEdit;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _adultToEdit = await AdultService.ReadAsync(Id);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }

    private async void SaveChanges()
    {
        try
        {
            await AdultService.UpdateAsync(_adultToEdit);
            NavigationManager.NavigateTo("/adults");
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }

}