@page "/"

<h1>Adults Manager</h1>
<hr/>

<p>Assignment 1 for DNP1</p>
<p>Future features:</p>
<ul>
    <li>Create family</li>
    <li>Add family members: 2 Adults, Children, Pets</li>
    <li>Visualize every family</li>
</ul>
