@page "/login"
@using FamiliesManager.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h1>Login</h1>
<hr/>
<AuthorizeView>
    <NotAuthorized>
        <div class="card m-3" style="border-radius: 15px;">
            <div class="card-body p-10">
                <div class="form-group">
                    <label>Username:</label>
                    <input class="form-control form-control-md" type="text" placeholder="username" @bind-value="_username"  style="width: 200px;"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="form-control form-control-md" type="password" placeholder="password" @bind-value="_password" style="width: 200px;"/>
                </div>
                <button class="btn btn-outline-dark" @onclick="PerformLogin">Login</button>
                <div style="color:red">@_errorMessage</div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <button class="btn btn-outline-dark" @onclick="PerformLogout">Log out</button>
    </Authorized>
</AuthorizeView>

@code {
    private string _username;
    private string _password;
    private string _errorMessage;

    private async Task PerformLogin()
    {
        _errorMessage = "";
        try
        {
            //Todo ValidateLogin --> GetUser and Validate Async
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLoginAsync(_username, _password);
            _username = "";
            _password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

    private async Task PerformLogout()
    {
        _errorMessage = "";
        _username = "";
        _password = "";
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).LogoutAsync();
            NavigationManager.NavigateTo("/");
            _errorMessage = "";
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

}